<!-- Footer Menu -->
<div class="flex dark:text-gray-100 justify-center items-center mt-12 mb-6">
    <div class="border-r-2 dark:border-gray-100 px-5">
        <a href="https://www.typefox.io/imprint-privacy/#privacy">
            Privacy Policy
        </a>
    </div>
    <div class="border-r-2 dark:border-gray-100 px-5">
        <a href="https://www.typefox.io/imprint-privacy/#copyright">
            Copyright
        </a>
    </div>
    <div class="px-5">
        <a href="/imprint">
            Imprint
        </a>
    </div>
</div>