<header>
    <div class="flex justify-between items-center px-4 py-6 sm:px-6 md:space-x-10">
        <div class="flex justify-start lg:w-0 lg:flex-1">
            <a href="/#">
                <span class="sr-only">Workflow</span>
                <!-- removed old picture from assets, added new one given by @KatharinaBrinkhaus (File name is same as before now, image on directory replaced with provided one)-->
                <img class="h-12 w-auto" src="/assets/langium_logo.svg" alt="">
            </a>
        </div>
        <div class="-mr-2 -my-2 md:hidden">
            <button type="button" @click="isOpen = true"
                class="dark:text-gray-100 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-1000 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                aria-expanded="false">
                <span class="sr-only">Open menu</span>
                <!-- Heroicon name: outline/menu -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>
        </div>
        {{ partial "langium-nav" }}
    </div>
</header>