<div id="divider">
    <div class="grid place-items-center pt-28 pb-8">
        <img id='feder' class="h-16 w-16" src="/assets/nib.svg">
    </div>
</div>

<!-- Community Section -->
<div id="community" class="pt-28">
    <div id='community-title' class="grid place-items-center dark:text-gray-100 text-xl">
        Join the Community
    </div>
    <div class="flex justify-center items-center">
        <div class="relative grid grid-cols-3 gap-4 h-36">
            <div class="footer-item"><a class='absolute pt-10 w-16 h-16' target="_blank"
                    href="https://twitter.com/TypeFox_io">
                    <img src="/assets/Twitter social icons - circle - white.svg" alt="Twitter" />
                </a>
            </div>
            <div class="footer-item"><a class='absolute pt-10 w-16 h-16' target="_blank"
                    href="https://www.npmjs.com/package/langium">
                    <img src="/assets/npm-square-red-1.svg" alt="npm" />
                </a>
            </div>
            <div class="footer-item"><a class='absolute pt-10 w-16 h-16' target="_blank"
                    href="https://github.com/eclipse-langium/langium">
                    <img src="/assets/GitHub-Mark-Light-120px-plus.png" alt="GitHub" />
                </a>
            </div>
        </div>

    </div>
</div>