<nav class="items-center hidden space-x-10 md:flex text-gray-1000 dark:text-gray-100 lg:px-12">
    <a href="/docs/" class="nav-link-desktop">
        Documentation
    </a>
    <a href="/showcase/" class="nav-link-desktop">
        Showcase
    </a>
    <a href="/playground/" class="nav-link-desktop">
        Playground
    </a>
    <a href="https://www.typefox.io/language-engineering/"
        class="nav-link-desktop text-emeraldLangium dark:text-emeraldLangium">
        Support
    </a>
    <a class='w-10 h-10' target="_blank" href="https://github.com/eclipse-langium/langium">
        <img src="/assets/GitHub-Mark-Light-120px-plus.png" alt="GitHub" />
    </a>
</nav>