<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    {{ partial "langium-head" . }}
</head>
{{/* Default is mono font, but use the regular font in special cases, like for the imprint page */}}
{{ $extraBodyClass := `font-mono` }}
{{ if .Params.useRegularFont }}
    {{ $extraBodyClass = `dark:text-gray-100` }}
{{ end }}
<body class='bg-white dark:bg-gray-900 {{ $extraBodyClass }}'>
    <div x-data="{ isOpen: false }" class="wrapper relative bg-white dark:bg-gray-900">

        {{ partial "langium-header" . }}

        {{/* Drop main block for showcase pages */}}
        {{ if .Params.noMain }}
        {{ else }}
        <main>
        {{ end }}
            {{/* Further layouts will extend from this one by defining the 'main' block */}}
            {{ block "main" . }}
            {{ end }}
        {{ if .Params.noMain }}
        {{ else }}
        </main>
        {{ end }}
        {{ partial "langium-footer" }}
        {{ partial "langium-mobile-menu" }}
    </div>
    {{ partial "langium-scripts" }}
</body>
</html>