{{ define "main" }}
<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .container {
        width: 100%;
        height: 100%;
        border: 1px rgba(38, 136, 140) solid;
        justify-content: center;
        align-self: center;
        display: flex;
    }

    .editor {
        width: 50%;
        height: 100%;
        float: left;
        border-right: 1px solid #fff;
    }
    
    .preview-window {
        width: 50%;
        height: 100%;
        float: right;
        padding: 10px;
    }
    
    /* Monaco stuff */
    .wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    #monaco-editor-root {
        flex-grow: 1;
    }
</style>
<div class="container">
    <div class="editor">
        <div class="wrapper relative bg-white dark:bg-gray-900">
            <div class="dark:bg-gray-900" id="monaco-editor-root"></div>
        </div>
    </div>
    <div class="preview-window" id="preview">
    </div>
</div>



{{ .Content }}

{{ if .Params.file }}
    {{- $jsFile := resources.Get .Params.file | resources.ExecuteAsTemplate "page.js" . | babel | js.Build -}}
    <script type="module" src="{{ $jsFile.RelPermalink }}"></script>
{{ end }}

{{ end }}
