<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <title>Langium</title>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <meta name="theme-color" content="#ffffff">
    <meta name="description"
        content="Langium is an open source language engineering tool with first-class support for the Language Server Protocol, written in TypeScript and running in Node.js.">
    <meta property="og:description"
        content="Langium is an open source language engineering tool with first-class support for the Language Server Protocol, written in TypeScript and running in Node.js.">
    <meta property="og:image" content="https://langium.org/assets/social-card.jpg">
    <meta property="og:site_name" content="Langium">
    <meta property="og:title" content="Langium">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://langium.org">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description"
        content="Langium is an open source language engineering tool with first-class support for the Language Server Protocol, written in TypeScript and running in Node.js.">
    <meta name="twitter:image" content="https://langium.org/assets/social-card.jpg">
    <!--meta name="twitter:site" content="@langium_org"-->
    <meta name="twitter:title" content="Langium">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/nib.svg">
    <link rel="icon" type="image/svg+xml" href="/assets/nib.svg">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/32px.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/16px.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#00b4b6">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>

<body class='bg-white dark:bg-gray-900 font-mono'>
    <div x-data="{ isOpen: true }" class="relative bg-white dark:bg-gray-900">
        {{ partial "langium-header" }}
        <main>
            {{.Content}}
           <div class="flex gap-10 flex-wrap justify-center mt-5 mx-5 "> 
            {{range where .Pages.ByWeight ".Params.draft" false}}
                <div class=" rounded-lg border shadow-md bg-gray-800 border-gray-600 max-w-[300px] relative overflow-hidden">
                    <a href="{{.Params.url}}">
                        <img src="{{.Params.img}}" class="object-fill min-h-[300px]"/>
                    </a>
                    <div class="py-5 text-white">
                        <h2 class="text-center text-xl">{{.Title}}</h2>
                        <ul class="pt-5 px-5 mb-[3.5rem]">
                            <span>Features:</span>
                            {{range first 5 .Params.features}}
                                <li class="text-sm italic py-2 px-2">{{.}}</li>
                            {{end}}
                        </ul>
                        <a href="{{.Params.url}}" class="border py-2 px-5 rounded-[0.2rem] border-emeraldLangium bg-emeraldLangium block text-center absolute bottom-5 left-1/2 transform -translate-x-1/2 min-w-max">Go to example</a>
                    </div>
                </div>
            {{end}}
            </div>
        </main>
        {{ partial "langium-footer" }}
        {{ partial "langium-mobile-menu" }}

    <script>
        // try {
        //     if (!('theme' in localStorage)) {
        //         localStorage.theme = window.matchMedia('(prefers-color-scheme:dark)').matches ? 'dark' : 'light';
        //     }
        //     if (localStorage.theme === 'dark') {
        //         document.querySelector('html').classList.add('dark');
        //     }
        // } catch (_) {
        // }        
    </script>
    <script defer src="https://unpkg.com/alpinejs@3.4.2/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/Draggable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"></script>
    <script src="/index.js"></script>
</body>

</html>