/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.external-link {
    @apply border-b border-dashed hover:border-solid pb-underline;
}

.nav-link-desktop {
    @apply text-base font-medium dark:hover:text-white hover:text-gray-900;
}

.nav-link-mobile {
    @apply h-10 text-base font-medium dark:hover:text-white hover:text-gray-700;
}

.about-item-container {
    @apply relative sm:h-120 sm:overflow-hidden flex justify-center items-center;
}

.about-item {
    @apply sm:absolute sm:left-0 flow-root px-6 sm:pb-8;
}

.about-item-icon-container {
    @apply sm:h-60 sm:my-0 h-40 flex items-center justify-center;    
}

.about-item-title {
    @apply sm:h-20 text-lg text-center font-medium text-gray-900 tracking-tight dark:text-gray-100;   
}

.item-text {
    @apply 
    bg-gray-700
    sm:bg-transparent
    absolute
    sm:relative
    top-0
    left-0
    w-full
    min-h-full
    text-base 
    text-gray-100 
    dark:text-gray-100 
    font-body 
    tracking-wide  
    flex justify-center items-center
    sm:block
    p-6
    sm:py-0 sm:px-0
}

.footer-item {
    @apply h-full w-16 mx-2 relative overflow-hidden;
}

.feature-item-container {
    @apply h-full min-w-featureItem border-transparent border-4 relative overflow-hidden flex justify-center items-center;
}

.feature-item-content {
    @apply h-full w-full box-border rounded-xl border-8 border-emeraldLangium dark:border-emeraldLangium sm:px-6 px-2 pb-6 mx-2 sm:mx-0 bg-emeraldLangium dark:bg-gray-900 shadow-lg;
}
