name: Deploy PR previews

on:
  pull_request_target:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

defaults:
  run:
    shell: bash

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'
      - name: Checkout
        uses: actions/checkout@v3
      - name: Build
        run: |
          npm install
          npm run build
      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          source-dir: ./public
